AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.apurofutbol\.net [NC]
RewriteRule ^(.*)$ http://apurofutbol.net/$1 [L,R=301]
    RewriteBase /
    
RewriteRule ^home/(.*)$ /$1 [L]
RewriteRule ^online/(.*)$ /$1 [L]
RewriteRule ^ver/(.*)$ /$1 [L]
RewriteRule ^ver-directo/(.*)$ /$1 [L]
RewriteRule ^portada/(.*)$ /$1 [L]
RewriteRule ^tv/(.*)$ /$1 [L]
RewriteRule ^tv1/(.*)$ /$1 [L]

RewriteRule ^granhermano$ /en-vivo/granhermano [L]
RewriteRule ^chat/chat\.html$ /chat/chatsmart.html [R=301,L]
RewriteRule ^dazn\.html$ /embed/dazn.html [R=301,L]
RewriteRule ^en-vivo/tnt-sports$ /en-vivo/tnt-sports-online [R=301,L]
RewriteRule ^starjwc4.html$ /embed2/starjwc4.html [R=301,L]
RewriteRule ^flow.html$ /embed2/flow.html [R=301,L]
 
    # Eliminar la barra al final de las URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Agregar la extensión .html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^\.]+)/?$ $1.html [NC,L]
</IfModule>

<IfModule mod_headers.c>
    Header set Content-Security-Policy "frame-ancestors 'self' embed.apurofutbol.net clarovideo.apurofutbol.net"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Agregar el parámetro ?new a la URL cuando se accede a chat/chat.html
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{QUERY_STRING} !^new [NC]
    RewriteRule ^chat/chat\.html$ $0?new [QSA,L]
</IfModule>